
@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  overflow-x: hidden;
}
div:where(.swal2-container) .swal2-html-container{
  padding: 0 !important;
  border-radius: 30px !important;
}
div:where(.swal2-container) div:where(.swal2-popup){
  border-radius: 30px;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  outline: none !important;
}
   
  @layer components {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
  }
