
@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  width: 1440px;
}
/* @layer base {
    @font-face {
      font-family: 'Integral CF';
      font-style: bold;
      font-weight: 400;
      font-display: swap;
      src: url('/fonts/Roboto.woff2') format('woff2');
    }
  } */
   
  @layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
  }
  